<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Retour"></ion-back-button>
    </ion-buttons>
    <ion-title>236 6625 AFA 94 C</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="dossier">
        <ion-icon name="folder-open-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="client">
        <ion-icon name="person-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="situation">
        <ion-icon name="people-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="in-charge">
        <ion-icon name="information-circle-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="documents">
        <ion-icon name="documents-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="history">
        <ion-icon name="time-outline"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>

  </ion-tabs>
</ion-content>
<ion-footer>
  <app-appointment-footer></app-appointment-footer>
</ion-footer>
