<ion-content>
  <h3 class="tab-title">Dossier</h3>
  <ion-list>
    <ion-list-header>Affaire</ion-list-header>
    <ion-item>
      <ion-icon slot="start" name="folder-open-outline"></ion-icon>
      <ion-label>M. GUERLESQUIN Veronique</ion-label>
    </ion-item>
    <ion-list-header>Rendez-vous</ion-list-header>
    <ion-item>
      <ion-icon slot="start" name="calendar-outline"></ion-icon>
      <ion-label>Sam. 10 Juil. 13:37</ion-label>
      <p>1 Rue de Gascogne</p>
      <p>95200 Sarcelles</p>
    </ion-item>
    <ion-list-header>Adresse sinistre</ion-list-header>
    <ion-item>
      <ion-icon slot="start" name="map-outline"></ion-icon>
      <ion-label>1 Rue de Gascogne</ion-label>
      <ion-label>95200 Sarcelles</ion-label>
    </ion-item>
    <ion-list-header>Type de mission</ion-list-header>
    <ion-item>
      <ion-icon slot="start" name="flame-outline"></ion-icon>
      <ion-label>Incendie</ion-label>
    </ion-item>
    <ion-list-header>Dommages déclarés</ion-list-header>
    <ion-item>
      <ion-icon slot="start" name="flame-outline"></ion-icon>
      <ion-label></ion-label>
    </ion-item>
    <ion-list-header>Enju</ion-list-header>
    <ion-item>
      <ion-label>1 320 €</ion-label>
    </ion-item>
    <ion-list-header>Réclamation</ion-list-header>
    <ion-item>
      <ion-label>4 500 €</ion-label>
    </ion-item>
    <ion-list-header>Extranet</ion-list-header>
    <ion-item>
      <ion-icon slot="start" name="globe-outline"></ion-icon>
      <ion-label>SIEL</ion-label>
    </ion-item>
    <ion-list-header>Commentaires</ion-list-header>
    <ion-item>
      <ion-icon slot="start" name="chatbubble-outline"></ion-icon>
      <ion-label>This is the comment section</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
